# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Complied executable file
bin/ddedde-top-panel

.idea
cmake-build-debug
build
/cmake-build-debug/
/bin

CMakeLists.txt.user

# vscode
.vscode/
build/
.ccls*
obj-x86_64-linux-gnu
debian/.debhelper
debian/dde-top-panel
debian/debhelper-build-stamp
debian/dde-top-panel.debhelper.log
debian/dde-top-panel.postrm.debhelper
debian/dde-top-panel.substvars
debian/files
debian/deepin-home.debhelper.log
